{% extends 'home.html' %}
{% block body %}

<div class="card">
                  <div class="card-body">
<form id="form1" name="form1" method="post" action="/addschedule_post" enctype="multipart/form-data">
  <h3 align="center">ADD DOCTOR SCHEDULE</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
        <label class="col-sm-3 col-form-label">Doctor Name</label>
      <div class="col-sm-9"><label for="textfield" ></label>
      <input type="text"  id="textfield" value="{{ data['d_name'] }}" class="form-control" />
          <input type="hidden" name="textfield" id="textfield" value="{{ data['dlid'] }}" /></div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <div class="form-group row">#}
{#                <label class="col-sm-3 col-form-label">Slots</label>#}
{#                <div class="col-sm-9"><label for="textfield"></label>#}
{#                    <input type="text" name="textfield1" id="textfield" class="form-control"/></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <div class="form-group row">#}
{#                <label class="col-sm-3 col-form-label">From-Time</label>#}
{#                <div class="col-sm-9"><label for="textfield"></label>#}
{#                    <input type="time" name="time" id="textfield" class="form-control"/></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <div class="form-group row">#}
                <label >Schedule</label>
                <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">From Time</label>
{#                <input type="time" name="textfield2" id="textfield3" class="form-control" />#}
                  <div class="col-sm-9"><label for="textfield2"></label>

                      <input type="time" name="time" id="textfield2" class="form-control" />
{#                  <select class="form-control"><option>AM</option>#}
{#                  <option>PM</option></select>#}</div>
            </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">To Time</label>
                   <div class="col-sm-9"><label for="textfield3"></label>
                       <input type="time" name="time" id="textfield3" class="form-control" />
{#                   <select class="form-control"><option>AM</option>#}
{#                  <option>PM</option></select>#}</div>
            </div>
            </div>
        </div>


     <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date</label>
                  <div class="col-sm-9"><label for="textfield"></label>
                    <input type="date" name="textfield4" id="textfield" class="form-control" /></div>
                 </div>
            </div>
        </div>

      <div class="col-md-6">
                          <div class="form-group row">
                          <input type="submit" class="btn btn-outline-success btn-fw" value="ADD"/>
                          </div>
                        </div>
</form>
                  </div></div>
{% endblock %}